<%- include('includes/header')%>
<%- include('includes/navbar')%>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-5">
            <h1 class="text-center">Entrar</h1>
            <p class="text-center lead">Acesse sua conta, ou crie um novo cadastro.</p>

            <div class="row">
                <div class="col">
                    <h4 class="text-center">Acesse</h4>
                    <form class="text-center" style="width: 400px; margin:auto" action="/login/login" method="post">
                        <input type="hidden" name="_csrf" value=<%= tokenCsrf%>>
                        <div class="form-group" >
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="digite o email">
                            <small id="emailHelp" class="form-text text-muted">N처s n찾o compartilharemos seu email com ninguem.</small>
                        </div>
                        <div class="form-group" >
                            <label for="exampleInputPassword1">Senha</label>
                            <input type="password" class="form-control" name="password" placeholder="senha">
                        </div>
                        <% if(errorsLogin.length > 0 || successLogin.length > 0){ %>
                            <%-  include('includes/messages') %>
                        <% } %>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary" style="border-color: #06d6a0; background-color: #06d6a0">Entrar</button>
                    </form>
                </div>
            </div>

            <div class="row" style="margin-top: 40px">
                <div class="col">
                    <h4 class="text-center">Cadastre-se</h4>
                    <form class="text-center" action="/login/register" style="width: 400px; margin:auto"  method="post">
                        <input type="hidden" name="_csrf" value=<%= tokenCsrf%>>
                        <div class="form-group" >
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="digite o email">
                            <small id="emailHelp" class="form-text text-muted">N처s n찾o compartilharemos seu email com ninguem.</small>
                        </div>
                        <div class="form-group" >
                            <label>Nome</label>
                            <input class="form-control" name="nome" aria-describedby="emailHelp" placeholder="digite o seu nome de usuario">
                        </div>
                        <div class="form-group" >
                            <label for="exampleInputPassword1">Senha</label>
                            <input type="password" class="form-control" name="password" placeholder="senha">
                            <small id="emailHelp" class="form-text text-muted">Minimo de seis caracteres.</small>
                        </div>

                        <% if(errors.length > 0 || success.length > 0){ %>
                        <%-  include('includes/messages') %>
                        <% } %>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                            <label class="form-check-label" for="exampleCheck2">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary" style="border-color: #06d6a0; background-color: #06d6a0">Cadastrar</button>
                    </form>
                </div>
            </div>
            <div class="responsive-table">

            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer')%>
